<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itschedule.itschedule_server.repository.BoardRepository">

    <select id="getBoardList" resultType="com.itschedule.itschedule_server.vo.BoardVo" parameterType="map">

        SELECT
        p.`id`,
        p.`name`,
        p.`content`,
        p.`user_id` AS userId,
        p.`start_dt` AS startDate,
        p.`end_dt` AS endDate,
        p.`updated`,
        p.`created`,
        u.name AS writer
        FROM `tb_project` p, tb_user u
        WHERE
            p.user_id = u.id
            <if test="name != null and name != ''">
                AND p.`name` LIKE CONCAT('%', #{name}, '%')
            </if>
        ORDER BY p.`id` DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="boardListTotalCount" resultType="int" parameterType="map">

        SELECT
            count(*)
        FROM `tb_project`
        WHERE
            1 = 1
        <if test="name != null and name != ''">
            AND `name` LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY `id` DESC
    </select>

    <select id="getBoardInfo" resultType="com.itschedule.itschedule_server.vo.BoardVo" parameterType="map">

        SELECT
            p.`id`,
            p.`name`,
            p.`content`,
            p.`user_id` AS userId,
            p.`start_dt` AS startDate,
            p.`end_dt` AS endDate,
            p.`updated`,
            p.`created`,
            u.name AS writer
        FROM `tb_project` p, tb_user u

        WHERE
            p.user_id = u.id
            AND p.`id` = #{boardId}
    </select>

    <insert id="insertBoardInfo" parameterType="map">

        INSERT INTO `tb_project`(
            `id`,
            `name`,
            `content`,
            `user_id`,
            `start_dt`,
            `end_dt`,
            `updated`,
            `created`
        )
        VALUES(
                  NULL,
                  #{name},
                  #{content},
                  #{userId},
                  #{startDate},
                  #{endDate},
                  NOW(),
                  NOW()
              )
    </insert>

    <update id="updateBoardInfo" parameterType="map">

        UPDATE `tb_project`
        SET
            `name` = #{name},
            `content` = #{content},
            `start_dt` = #{startDate},
            `end_dt` = #{endDate},
            `updated` = NOW()
        WHERE `id` = #{boardId}

    </update>

    <select id="getUserListAll" resultType="com.itschedule.itschedule_server.vo.UserVo" parameterType="map">

        SELECT
            `id` AS userId,
            `name` AS userName,
            `email`,
            `is_email_auth` AS isEmailAuth,
            `is_admin` AS isAdmin,
            `updated`,
            `created`
        FROM `tb_user`
    </select>

    <select id="getUserListForProject" resultType="com.itschedule.itschedule_server.vo.UserVo" parameterType="map">

        SELECT
            p.`project_id` AS projectId,
            p.`user_id` AS userId,
            u.name AS userName,
            u.email
        FROM tb_project_member p,
             tb_user u
        WHERE p.user_id = u.id
          AND p.project_id = #{boardId}
    </select>

    <delete id="clearBoardMember" parameterType="Integer">

        DELETE FROM `tb_project_member`
            WHERE `project_id` = #{boardId}
    </delete>

    <insert id="insertBoardMember" parameterType="map">

        INSERT INTO tb_project_member (
            project_id,
            user_id,
            updated,
            created
            )
        VALUES
        <foreach collection="memberList"
                 item="member"
                 separator=",">
            (#{boardId}, #{member.userId}, NOW(), NOW())
        </foreach>
    </insert>


</mapper>