<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itschedule.itschedule_server.repository.UserRepository">

    <select id="getUserInfoForLogin" resultType="com.itschedule.itschedule_server.vo.UserVo" parameterType="map">

        SELECT
            `id`,
            `name`,
            `email`,
            `password`,
            `is_email_auth` AS isEmailAuth,
            `is_admin` AS isAdmin,
            `updated`,
            `created`
        FROM `tb_user`
        WHERE
            `email` = #{email}
    </select>

    <select id="getUserInfo" resultType="com.itschedule.itschedule_server.vo.UserVo" parameterType="map">

        SELECT
            `id`,
            `name`,
            `email`,
            `is_email_auth` AS isEmailAuth,
            `is_admin` AS isAdmin,
            `updated`,
            `created`
        FROM `tb_user`
        WHERE
            `email` = #{email}
    </select>

    <insert id="insertUser" parameterType="map">

        INSERT INTO `tb_user`(
            `id`,
            `name`,
            `email`,
            `password`,
            `is_email_auth`,
            `is_admin`,
            `updated`,
            `created`
        )
        VALUES(
                  NULL,
                  #{name},
                  #{email},
                  #{password},
                  DEFAULT,
                  DEFAULT,
                  NOW(),
                  NOW()
              )
    </insert>

    <select id="getUserList" resultType="com.itschedule.itschedule_server.vo.UserVo" parameterType="map">

        SELECT
            `id`,
            `name`,
            `email`,
            `is_email_auth` AS isEmailAuth,
            `is_admin` AS isAdmin,
            `updated`,
            `created`
        FROM `tb_user`
        WHERE
            1=1
        <if test="userName != null and userName != ''">
            AND `name` LIKE CONCAT('%', #{userName}, '%')
        </if>
        ORDER BY `id` DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="userListTotalCount" resultType="int" parameterType="map">

        SELECT
        count(*)
        FROM `tb_user`
        WHERE
        1=1
        <if test="userName != null and userName != ''">
            AND `name` LIKE CONCAT('%', #{userName}, '%')
        </if>
    </select>

    <update id="userAuthUpdate" parameterType="map">

        UPDATE `tb_user`
        SET
            `is_email_auth` = #{auth},
            `updated` = NOW()
        WHERE `id` = #{userId}

    </update>

    <update id="userAdminUpdate" parameterType="map">

        UPDATE `tb_user`
        SET
            `is_admin` = #{adminAuth},
            `updated` = NOW()
        WHERE `id` = #{userId}

    </update>

    <insert id="insertUserEvent" parameterType="map">

        INSERT INTO `tb_alert`(
            `id`,
            `type`,
            `content`,
            `user_id`,
            `target_id`,
            `status`,
            `updated`,
            `created`
        )
        VALUES(
           NULL,
           #{type},
           #{content},
           #{userId},
           #{targetId},
           DEFAULT,
           now(),
           now()
           )
    </insert>

    <update id="updateUserEvent" parameterType="map">

        UPDATE `tb_alert`
        SET
            `status` = #{status},
            `updated` = NOW()
        WHERE `id` = #{alertId}
    </update>

    <select id="getAlertList" resultType="com.itschedule.itschedule_server.vo.AlertVo" parameterType="map">

        SELECT
        `id`,
        `type`,
        `content`,
        `user_id` AS userId,
        `target_id` AS targetId,
        `status`,
        `updated`,
        `created`
        FROM `tb_alert`
        WHERE
        user_id = #{userId}
    </select>


</mapper>